# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model files
models/
weights/
checkpoints/

# Logs
logs/

# Tests
.pytest_cache/

# MLflow
mlflow.db
mlruns/